@{
    ViewData["Title"] = "TutorialsMeet";
}

<div class="text-center">
    <h2 class="display-4">Bienvenido</h2>
</div>
<div align="center">
    <img src="~/img/home.jpeg" alt="Alternate Text" style="width:700px; height:380px; text-align:center" />
</div>
